<div class="card my-3"  *ngIf="!editMode">
  <div class="card-body">
    <div class="row justify-content-between pe-2">
      <div class="col col-10 text-start"><h5 class="card-title">{{title}} </h5></div>
      <div class="col col-2 text-end "><fa-icon class="text-end" [icon]="faEdit" (click)="editMode=true"></fa-icon></div>
    </div>
    <p class="card-text text-start">{{content}}</p>
    <div class='row justify-content-between'>
      <div class='col text-start'><fa-icon  [icon]="faChevronLeft" (click)="changeList(false)" *ngIf="list!='toDo'"></fa-icon></div>
      <div class='col text-center'><fa-icon  [icon]="faTrash" (click)="deleteCard()"></fa-icon></div>
      <div class='col text-end'><fa-icon  [icon]="faChevronRight" (click)="changeList()" *ngIf="list!='done'"></fa-icon></div>
    </div>
  </div>
    
</div>

<div class="card" *ngIf="editMode">
  <input type="text" name="title"  class="form-control card-header" [(ngModel)]='title'  placeholder="Title" #newTitleInput>
  <textarea id="card-content" name="content" class="form-control" [(ngModel)]='content'  #newContentInput aria-label="Content" placeholder="Content"></textarea>
  <div class='row justify-content-between'>
    <div class='col text-start'><fa-icon  [icon]="faBan" (click)="editMode=false;updateBoard.update()" ></fa-icon></div>
    <div class='col text-end'><fa-icon  [icon]="faSave" (click)="updateCard(newTitleInput.value,newContentInput.value)"></fa-icon></div>
  </div>
</div>
